@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
  --accent: #FFF7ED;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

h1,
h2 {
  margin: 0;
}

p{
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  font-family: "Inter", sans-serif;
}

/* NAVBAR */
/* ======= */
.navbar {
  background-color: #fff7ed;
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1.5em;
  color: #4d4d4d;
  font-weight: 600;
}

nav > ul > a {
  color: #4d4d4d;
}

/* HOME CARD */
/* ========== */

.home-card {
  background-color: gray;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 4em 1.5em;
  color: #ffffff;
}

.btn {
  padding: 1em 1.5em;
  font-family: inherit;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.home-btn {
  background-color: #ff8c38;
  margin-top: 2em;
  width: 100%;
}

/* ABOUT */
/* ========*/

.about-content {
  padding: 2.5em 1.5em;
}

.about-heading {
  font-size: 2rem;
}

.about-p {
  line-height: 1.6;
}

.about-explore-card {
  background-color: #ffcc8d;
  padding: 2em 2em;
}

/* ABOUT EXPLORE */
/* ============ */

.about-explore-card {
  margin-top: 3em;
}

.explore-heading {
  margin-bottom: 1em;
}

.about-btn {
  background-color: black;
  border-radius: 10px;
}


/* VANS PAGE */
/*==========*/

.van-page-content{
  padding: 2em;
}

.van-page-heading{
  text-align: center;
}

.van-gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.van-card{
  position: relative;
  cursor: pointer;
}

.van-img{
  max-width: 250px;
}

.van-details{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}


.per-day{
  font-weight: 400;
}

.van-type{
  text-transform: capitalize;
  color: white;
  padding: .5em 1em;
  display: inline;
  position: absolute;
  bottom: 5px;
  border-radius: 5px;
  font-size: .8rem;
}


/* VANS DETAILS */
/* ============= */

.van-detail-card{
  padding: 2em;
}

.van-details-btn{
  margin-bottom: 1em;
  color: black;
  font-weight: 400;
}

.van-details-type{
  text-transform: capitalize;
  padding: 1em 2em;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  color: white;
  border-radius: 5px;
}

.vd-btn{
  margin: 0.5em 0em 2em 0em;
}






/* HOST VANS CARD */
/* ============= */

.host-van-nav{
  background-color: var(--accent);
}

.host-van-nav >ul {
  margin: 0;
}

.listed-vans-h1{
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.host-van-wrapper{
  background-color: var(--accent);
  padding: 1em;
}

.host-van-card{
  display: flex;
  padding: 1em;
  gap: 1em;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1em;
}

.host-van-img{
  max-width: 100px;
}

.host-van-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.host-van-name{
  margin: 0;
  margin-bottom: 0.5em;
}

.host-van-price{
  margin: 0;
}



/* FOOTER */

footer {
  background-color: #252525;
  color: #aaaaaa;
  padding: 1em;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}


